<ion-item>
  <div slot="start" class="dot">{{code.name}}</div>
  <ion-label class="ion-text-wrap">
    {{code.desc}}
  </ion-label>
  <ion-button *ngIf="!Copied" color="light" slot="end" (click)="copy(code.name + ' ' + code.desc)">Copy
      <ion-icon slot="end" name="copy-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="Copied" color="light" slot="end" (click)="copy(code.name + ' ' + code.desc)">Copied
    <ion-icon slot="end" name="checkmark-outline"></ion-icon>
</ion-button>
</ion-item>